@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

.button {
    font-family: 'Fuzzy Bubbles', cursive;
    border: 2px solid grey;
    width: 200px;
    padding: 15px 0;
    background-color: greenyellow;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}