@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

a {
  text-decoration: none;
}

.section {
  font-family: 'Fuzzy Bubbles', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.container {
  width: 100%;
  max-width: 1000px;
}

.container__button {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: left;
  padding: 15px 0 15px 0;
}

